# Создайте файл .env из копии этого файла и замените значения переменных реальными данными
# Имя файла с операциями
OPERATIONS_FILE_NAME=your_file_operations_name
# Имя json-файла с пользовательскими списками валют и акций
USER_SETTINGS_JSON_FILE=your_user_settings_file_name
# API-ключи
RATE_API_KEY=your_rate_api_key_here
STOCK_API_KEY=your_stock_api_key_here